*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 4rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 300; }
  @media screen and (max-width: 56.25em) {
    body {
      padding: 2rem 3rem; } }
  @media screen and (max-width: 75em) {
    body {
      align-items: flex-start; } }

main {
  position: relative;
  min-height: 75vh;
  width: 100%; }

a {
  z-index: 1;
  display: inline-block;
  text-decoration: none;
  letter-spacing: .05rem;
  transition: .2s; }
  a:hover {
    color: black;
    background-color: #d9f3ff; }

hr {
  margin: 4rem 10vw;
  border: solid 0.5px #e9e9e9; }

p {
  padding: 2rem 0; }

li {
  padding: .3rem 0;
  line-height: 1.3; }
  @media screen and (max-width: 56.25em) {
    li {
      line-height: 1.45; } }
  li::marker {
    margin-right: 1rem; }
  li > a {
    transform: rotate(0); }
    li > a:hover {
      color: black;
      background-color: #d9f3ff;
      transform: rotate(-4deg); }

ul {
  margin: .5rem 0 .5rem 4rem; }

ul ul {
  margin-left: 2rem; }

pre {
  display: block;
  margin: 3rem;
  padding: 2rem 3rem;
  background-color: #221A0F;
  border-radius: 1rem 0;
  overflow-x: hidden; }
  @media screen and (max-width: 56.25em) {
    pre {
      margin: 3rem -1.5rem; } }
  @media screen and (max-width: 37.5em) {
    pre {
      padding: 1rem 2rem;
      font-size: 1.4rem; } }

code {
  display: block;
  line-height: 2rem;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: #4b4b4b #221A0F; }
  code::-webkit-scrollbar {
    height: .7rem; }
  code::-webkit-scrollbar-track {
    background: #221A0F; }
  code::-webkit-scrollbar-thumb {
    background: #4b4b4b; }

.cta {
  position: relative;
  margin-top: 1.5rem;
  margin-left: 1rem;
  font-size: 1.3rem;
  letter-spacing: .07rem; }
  .cta::before {
    content: '';
    position: absolute;
    top: .2rem;
    left: -1.1rem;
    height: 80%;
    width: .4rem;
    background-color: #afd5e7; }
  .cta:hover {
    transform: rotate(0);
    background-color: transparent; }
  .cta--post {
    margin-top: 4rem; }
    .cta--post::before {
      left: auto;
      right: -0.9rem; }

h1, h2, h3, a {
  color: #303030;
  font-family: "Oswald", sans-serif;
  font-weight: 400; }

h1 {
  z-index: 2;
  padding: 2rem 0 1rem 0;
  font-size: 10rem;
  letter-spacing: -.2rem;
  line-height: 1.4; }
  @media screen and (max-width: 56.25em) {
    h1 {
      line-height: 1.25; } }
  @media screen and (max-width: 37.5em) {
    h1 {
      font-size: 7rem; } }
  @media screen and (max-width: 25em) {
    h1 {
      font-size: 5rem; } }

h2 {
  padding: 2.5rem 0 .5rem 0;
  font-size: 4rem;
  letter-spacing: -.07rem; }
  h2 > a {
    letter-spacing: 0; }
    @media screen and (max-width: 100em) {
      h2 > a {
        letter-spacing: -.09rem; } }
    h2 > a:hover {
      color: auto;
      background-color: transparent; }
  @media screen and (max-width: 56.25em) {
    h2 {
      line-height: 1.15; } }
  @media screen and (max-width: 37.5em) {
    h2 {
      font-size: 3rem; } }

h3 {
  padding: 1rem 0 .5rem 0;
  font-size: 2.3rem; }
  @media screen and (max-width: 37.5em) {
    h3 {
      font-size: 1.8rem; } }

strong {
  color: #4b4b4b;
  font-weight: 500; }

.heading--post {
  padding: 2rem 0 4rem 0;
  font-size: 7rem; }
  @media screen and (max-width: 37.5em) {
    .heading--post {
      font-size: 6rem; } }
  @media screen and (max-width: 25em) {
    .heading--post {
      font-size: 5rem; } }

.heading-secondary--home {
  padding: .5rem 0; }

@media screen and (min-width: 75em) {
  .u-wrapper {
    width: 80rem; } }

.header__home-link {
  font-size: 2.5rem; }
  .header__home-link:hover {
    color: #303030;
    background-color: transparent; }

.header__js-styled {
  position: relative; }
  .header__js-styled::before {
    z-index: -1;
    content: '';
    position: absolute;
    background-color: #d9f3ff;
    border-radius: 1rem 0; }
  .header__js-styled--big::before {
    top: 2.5rem;
    left: -.8rem;
    height: 11rem;
    width: 9rem; }
  @media screen and (max-width: 37.5em) {
    .header__js-styled--big::before {
      top: 1.2rem;
      left: -0.8rem;
      height: 8.7rem;
      width: 6.7rem; } }
  @media screen and (max-width: 25em) {
    .header__js-styled--big::before {
      height: 5.7rem;
      width: 4.9rem; } }
  .header__js-styled--small::before {
    top: 0;
    left: -.8rem;
    height: 15rem;
    width: 12rem; }
  @media screen and (max-width: 37.5em) {
    .header__js-styled--small::before {
      height: 13.5rem;
      width: 11.8rem; } }
  @media screen and (max-width: 25em) {
    .header__js-styled--small::before {
      height: 12.4rem; } }

.footer {
  align-self: center;
  display: flex;
  justify-content: center;
  margin-top: 6rem; }
  .footer__text {
    font-size: 1.4rem;
    color: #4b4b4b; }

.post-query__date {
  display: block;
  margin-top: -.8rem;
  font-size: 1.3rem;
  color: #7a7a7a; }
  @media screen and (max-width: 56.25em) {
    .post-query__date {
      margin-top: .5rem; } }

.glyph-post {
  position: absolute;
  top: -.13rem;
  left: -1rem; }

/*
    Name:     Kimbie (dark)
    Author:   Jan T. Sott
    License:  Creative Commons Attribution-ShareAlike 4.0 Unported License
    URL:      https://github.com/idleberg/Kimbie-highlight.js
*/
/* Kimbie Comment */
.hljs-comment,
.hljs-quote {
  color: #d6baad; }

/* Kimbie Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-meta {
  color: #dc3958; }

/* Kimbie Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-deletion,
.hljs-link {
  color: #f79a32; }

/* Kimbie Yellow */
.hljs-title,
.hljs-section,
.hljs-attribute {
  color: #f06431; }

/* Kimbie Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #889b4a; }

/* Kimbie Purple */
.hljs-keyword,
.hljs-selector-tag,
.hljs-function {
  color: #98676a; }

.hljs {
  display: block;
  overflow-x: auto;
  background: #221a0f;
  color: #d3af86;
  padding: 0.5em; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }
