$primary-font: 'Roboto', sans-serif;
   $pr-standard-weight: 300;
   $pr-great-weight: 500;
$display-font: 'Oswald', sans-serif;
   $dp-standard-weight: 400;

$color-gray-dark: rgb(48, 48, 48);
$color-gray-light: rgb(75, 75, 75);
$color-gray-super-light: rgb(233, 233, 233);

$color-primary: rgb(217, 243, 255);
$color-primary-darker: rgb(175, 213, 231);