<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>JS Sessions briefs</title>
      <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
   </head>
   <body>
      <header>
         <h1 class="heading--home"><span class="logo-styled">JS</span> Sessions</h1>
      </header>
      
      <main>
         {{ content }}
      </main>

      <footer>
         <p>David Krapka - 2019</p>
      </footer>

      <link href="https://fonts.googleapis.com/css?family=Oswald|Roboto:300,500&display=swap" rel="stylesheet">
   </body>
</html>