h1, h2, h3, a {
   color: $color-gray-dark;
   font-family: $display-font;
   font-weight: $dp-standard-weight;
}

h1 {
   z-index: 2;
   padding: 2rem 0 1rem 0;
   font-size: 10rem;
   letter-spacing: -.2rem;
   line-height: 1.4;

   @include mq-below(phone-lg) { font-size: 7rem; }
   @include mq-below(phone-sm) { font-size: 5rem; }
}

h2 {
   padding: 2.5rem 0 .5rem 0;
   font-size: 4rem;
   letter-spacing: -.07rem;

   & > a {
      letter-spacing: 0;

      &:hover {
         color: auto;
         background-color: transparent;
      }
   }

   @include mq-below(phone-lg) { font-size: 3rem; }
}

h3 {
   padding: 1rem 0 .5rem 0;
   font-size: 2.3rem;

   @include mq-below(phone-lg) { 
      font-size: 1.8rem;
   }
}

strong {
   color: $color-gray-light;
   font-weight: $pr-great-weight;
}

.heading--post {
   padding: 2rem 0 4rem 0;
   font-size: 7rem;

   @include mq-below(phone-lg) { font-size: 6rem; }
   @include mq-below(phone-sm) { font-size: 5rem; }
}

.heading-secondary--home {
   padding: .5rem 0;
}